<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../images/latestimpulselogo.jpg">

    <title>Impulse'18 </title>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700" rel="stylesheet"> 
    <link rel="stylesheet" href="../css/jquery.slotmachine.css">
    <link href="../css/profile.css" rel="stylesheet">
    
    <style>
        .randomizeMachine{
            text-align: center;
            height: 60px;
        }

        .randomizeMachine > div{
            font-size: 40px;
            font-family: 'Raleway', sans-serif;
            color: rgb(8, 90, 184);
            text-transform: uppercase;
        }
        .row{
            position: relative;
            margin-bottom: 30px;
        }
        #randomize{
            position: absolute;
            left: 45%;
        }

        h1{
            display: block;
            margin: auto;
            margin-top: 100px;
            text-align: center;
            font-family: 'Raleway', sans-serif;
            font-size: 50px;
            margin-bottom: 30px;
        }
        .subtext{
            text-align: center;
            color: rgb(175, 49, 49);
            font-size: 20px;
            margin-bottom: 50px;
        }
        
    </style>
  </head>

  <body>

<nav class="navbar navbar-expand-lg fixed-top">
	<a class="navbar-brand" href="#"><img src="/images/impulse-full.png" alt="logo"></a>
    <a class="btn btn-outline-danger ml-auto" href="/">Go Back</a>
</nav>

    <div class="container">
        <h1>Generate Your Themes</h1>
        <p class="subtext">WELCOME, {{team}}</p>
        <p class="subtext">Your project idea should incorporate both the keywords generated.</p>

        <div class="slot">
            <div class="row">
                <div class="col-6">
                    <div>
						<div id="machine1" class="randomizeMachine" style>
                            <div>Idea 1</div>
                            <div>Idea 2</div>
                            <div>Idea 3</div>
                            <div>Idea 4</div>
                            <div>Idea 5</div>
                            <div>Idea 6</div>
						</div>
					</div>
                </div>
                <div class="col-6">
                    <div>
                        <div id="machine2" class="randomizeMachine">
                            <div>Idea 1</div>
                            <div>Idea 2</div>
                            <div>Idea 3</div>
                            <div>Idea 4</div>
                            <div>Idea 5</div>
                            <div>Idea 6</div>
                        </div>
					</div>
                </div>
            </div>

            <button class="btn btn-success" id="randomize">GENERATE</button>
        </div>
    </div>


    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.slotmachine.js"></script>
    <script>
        $(document).ready(function(){
            var machine1 = $('#machine1').slotMachine({
                active : 0,
                delay  : 500
            });
            var machine2 = $('#machine2').slotMachine({
                active  :0,
                delay   : 500
            });

            function onComplete(active){
                switch(this.element[0].id){
                    case 'machine1':
                        console.log('machine 1: '+this.active);
                        break;
                    case 'machine2':
                        console.log('machine 2: '+this.active); break;    
                }
            }
        
        $('#randomize').click(function(){

            machine1.shuffle(5,onComplete);
            machine2.shuffle(5,onComplete);
            $(this).fadeOut('slow');

        })

        })
    </script>
  </body>
</html>
