<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../images/latestimpulselogo.jpg">

    <title>Impulse'18 </title>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

    <link href="../css/profile.css" rel="stylesheet">
    
    <style>
        .success{
            display: block;
            margin: auto;
            margin-top: 100px;
            width: 200px;
        }
        .head, .text, .text2, .uiux{
            text-align: center;
        }
    </style>
  </head>

  <body>

<nav class="navbar navbar-expand-lg fixed-top">
	<a class="navbar-brand" href="#"><img src="/images/impulse-full.png" alt="logo"></a>
    <a class="btn btn-outline-danger ml-auto" href="/">Go Back</a>
</nav>

    <div class="container">
        <img src="/images/success.png" alt="tick" class="success">
        <h1 class="head text-success">Success</h1>
        <p class="text">Thanks For Registering For This Event!</p>
        <p class="text2">Your response has been recorded</p>
        <p class="uiux">Please send your best works at iosdmait@iosd.tech before 8th March 6pm</p>
    </div>


  </body>
</html>
