/* NAVBAR SECTION */
.navbar{
    background-color: rgb(4,4,4);
    opacity: 0.85;
}

.nav-link{
    color: white;
    font-size: 22px;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}

.nav-link:hover{
    color: rgb(243, 47, 73);
}

.nav-item{
    margin-right: 15px;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler:focus{
    outline: none;
}

/* //NAVBAR SECTION */

/* HERO SECTION */
.canvas-container{
    position: relative;
    top: 0%;
    left: 0%;
    height: 100%;
}

.canvas-container canvas{
    background: url("../images/canvas_bg.jpg");
    z-index: -11;
    position: absolute;
    top: 0;
    left: 0;
}

#skyline {
    background: url(https://jackrugile.com/lab/fireworks-v2/images/skyline.png) repeat-x 50% 0;
    bottom: 0;
    height: 135px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -7;
}

#mountains1 {
    background: url("../images/mountains11.png") repeat-x 40% 0;
    bottom: 0;
    height: 200px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -9;
}

#mountains2 {
    background: url("../images/mountains22.png") repeat-x 30% 0;
    bottom: 0;
    height: 250px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -8;
}

#main_header{
    margin-top: 0%;
    position: absolute;
    top: 40%;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 15vmin;
}

.day-header{
    position: absolute;
    top:55%;
    font-family: 'Montserrat', sans-serif;
    color: rgb(71, 233, 219);
    font-weight: 600;
    font-size: 13vmin;
}

.month{
    position: absolute;
    top:68%;
    font-family: 'Montserrat', sans-serif;
    color: rgb(241, 121, 65);
    font-weight: 500;
    font-size: 8vmin;
}

/* //HERO SECTION //

/* TIMER SECTION */

/* .timer{
    width: 80%;
    background-color: #BB5758;
    border-radius: 10px;
    margin: 0 auto;
    padding: 0;
    border-width: 4px;
    border-color: #BB5758;
    border-style: solid;
    position: absolute;
    float: none;
    left: 10%;
}

.launch{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 8px;
    line-height: 13.6px;
    color: black;
    padding-top: 10px;
    margin-bottom: 25px;
}

.timer .col{
    margin: 0;
}

.day,.hour,.minute,.second{
    color: #E5C8CA;
    font-family: 'Oswald', sans-serif;
    font-size: 65px;
    font-weight: 500;
    display: inline-block;
    width : 65px;;
}

.day-content,.hour-content,.minute-content,.second-content{
    color: #2A323B;
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
}

.timer-row{
    width: 70%;
    margin: auto;
}

 */

.timer{
    position: absolute;
    /* bottom: -30%; */
    margin-top: 30px;
    margin-left: 0px;
    width: 55%;
    left: 22%;
    padding: 40px 0px 0px 0px;
    border: 2px rgb(104, 104, 104) solid;
    
}
.timer-day,.timer-hour,.timer-minute,.timer-second{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 90px;
    font-weight: 500;
}
.timer-row{
    text-align: center;
}

.day,.hour,.minute,.second{
    color: rgb(129, 127, 127);
    font-family: 'Roboto',sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    left: 0%;
    top:5%;
    
}



.days,.hours,.minutes,.seconds{
    margin-right:20px;
}


/* //TIMER SECTION */

/* AGENDA SECTION */

.agenda{
    background-image: url('../images/spiration-dark.png');
    background-repeat: repeat;
}

#agenda,.teaser ,.gallery,#event_title{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    padding-top: 30px;
    text-align: center;
    display: block;
    margin-left: 0px;
    font-size: 13vmin;
    padding-top: 200px;
}

.march-9,.march-10{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    padding-top: 30px;
    text-align: center;
    display: block;
    margin-left: 0px;
    font-size: 7vmin;
}

.vtimeline-date{
    color: #fff;
    font-size: 20px;
    padding: 10px;
}

.vtimeline-content{
    padding: 20px;
}

#timeline h3, #timeline1 h3{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    color: black;
    margin-bottom: 20px;
}

/* //AGENDA SECTION */

/* TEASER SECTION */
.teaser{
    color: #191919;
    padding-top: 50px;
    text-transform: uppercase;
}

video{
    width: 95%;
    margin: 0 auto;
    display: block;
    padding-bottom: 50px;
}

.parallax-container{
    background-image: url('../images/01-01.jpg');
    background-repeat: repeat;
    background-size: 200px 200px;
    background-attachment: fixed;
    background-position: center;
    /* background-repeat: no-repeat;
    background-size: cover; */
    
}
/* //TEASER SECTION */

/* EVENTS SECTION */

#event_title{
    padding-top: 30px;
}

#events{
    background-color: #080808;
}

.content {
    /* height: 400px; */
    background-color: white;
    color: black;
    padding:30px;
}

.content2{
    background-color: transparent;
}

.event_header, .event_header2{
    font-size: 50px;
    font-family: 'Lato',sans-serif;
    font-weight: 600;
    padding-bottom: 20px;
    display: block;
}

.event_subheader,.event_subheader2{
    font-size: 25px;
    font-family: 'Lato',sans-serif;
    font-weight: 400;
    color: #729996;
}

.event_content,.event_content2{
    font-size: 20px;
    font-family: 'Lato',sans-serif;
    font-weight: 300;
    color: #6a6b6b;
    line-height: 35px;
    text-align: justify;
    padding-bottom: 20px;
}

.event-link{
    color: black;
    background-color: white;
    text-decoration: none;
    border: 2px black solid;
    padding: 5px 20px;
    font-family: 'Oswald',sans-serif;
    font-size: 20px;
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
}

.event-link2{
    color: white;
    background-color: black;
    text-decoration: none;
    border: 2px white solid;
    padding: 5px 20px;
    font-family: 'Oswald',sans-serif;
    font-size: 20px;
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
}


.event-link:hover{
    background-color: black;
    color: white;
}

.event-link2:hover{
    background-color: white;
    color: black;
}

.event_header2{
    color: white;
}

.poster{
     height: 400px; 
}

.poster img{
    /* object-fit: fill; */
    height: 380px;
    /* padding-left: 30%; */
    display: block;
    padding-top: 10px;
    margin: auto;
}
/* //EVENTS SECTION */

/* GALLERY SECTION */

#gallery{
    background-image: url("../images/dark-pattern.gif");
}

.gallery{
    padding-top: 0px;
}

/* //GALLERY SECTION*/




/* MEDIA QUERIES */

@media screen and (min-width:1140px) and (max-width: 1219px) {
    /* .timer-row{
        width: 75%;
    } */
    .event_content,.event_content2{
        line-height: 30px;
    }
}

@media screen  and (min-width:990px) and (max-width: 1139px) {
    /* .timer-row{
        width: 75%;
    }
    .day,.hour,.minute,.second{
        font-size: 60px;
        width : 60px;;
    }
    
    .day-content,.hour-content,.minute-content,.second-content{
        font-size: 15px;
        
    } */
    .timer{
        width: 65%;
        left: 17.5%
    }
    .event_content,.event_content2{
        line-height: 30px;
        font-size: 17px;
    }
}

@media screen  and (min-width:900px) and (max-width: 989px) {
    /* .timer-row{
        width: 80%;
    }
    .day,.hour,.minute,.second{
        font-size: 55px;
        width : 55px;;
    }
    
    .day-content,.hour-content,.minute-content,.second-content{
        font-size: 15px;
        
    } */
    .timer{
        width: 65%;
        left: 17.5%
    }
    .event_content,.event_content2{
        line-height: 30px;
        font-size: 17px;
    }
}

@media screen  and (min-width:775px) and (max-width: 899px) {
    /* .timer{
        width: 85%;
        left: 7.5%;
    }
    .timer-row{
        width: 80%;
    }
    .day,.hour,.minute,.second{
        font-size: 50px;
        width : 50px;;
    }
    
    .day-content,.hour-content,.minute-content,.second-content{
        font-size: 13px;
        
    } */
    .timer{
        width: 65%;
        left: 17.5%;
    }

    .event_content,.event_content2{
        line-height: 25px;
        font-size: 17px;
    }
}

@media screen and (min-width:635px)  and (max-width: 774px) {
    /* .timer{
        width: 87%;
        left: 6.5%;
    }
    .timer-row{
        width: 85%;
    }
    .day,.hour,.minute,.second{
        font-size: 50px;
        width : 50px;;
    } */

    /* .col{
        padding: 0 5px;
    } */
    
    /* .day-content,.hour-content,.minute-content,.second-content{
        font-size: 13px;
        
    } */
    .event_content,.event_content2{
        line-height: 25px;
        font-size: 17px;
    }
    .timer{
        width: 80%;
        left: 10%;
    }
}

@media screen and (max-width: 634px){
    .timer{
        width: 85%;
        left: 7.5%;
    }
    .timer-day,.timer-hour,.timer-minute,.timer-second{
        font-size: 70px;
    }
}
@media screen and (max-width: 500px){
    .timer{
        width: 95%;
        left: 2.5%;
    }
    .timer-day,.timer-hour,.timer-minute,.timer-second{
        font-size: 65px;
    }
}
@media screen and (max-width: 420px){
    .timer{
        width: 95%;
        left: 2.5%;
    }
    .timer-day,.timer-hour,.timer-minute,.timer-second{
        font-size: 50px;
    }
    .day,.hour,.minute,.second{
        font-size: 13px;
        
    }
}


